form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-bottom: 5vh;
  align-items: flex-start;
  margin-left: 2em;
}

#radioSection {
  display: flex;
  flex-direction: row;
  max-width: 20%;
  margin-top: 1vh;
}

.label-text {
  margin-right: 0.2vw;
}

input {
  margin-block: 1vh;
}

#textarea {
  min-width: 65%;
  width: 65%;
  max-width: 65%;
  min-height: 10vh;
  height: 10vh;
  max-height: 10vh;
  margin-top: 1vh;
  resize: none;
  font-size: 1em;
}

#sendBtn {
  margin-top: 2vh;
  padding: 0.5em;
  min-width: 20%;
  width: 20%;
  max-width: 20%;
  border-radius: 1.2em;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.25s;
}